body {
    font: 14px sans-serif;
    background-image: url("../images/img.png");
    background-size: cover;
}

form {
    margin: 0 auto;
    width: 250px;
}

.form-group {
    color: rgb(5, 49, 5);
    font-weight: bold;
    font-size: large;
}

.btn-primary {
    color: white;
    background-color: rgb(1, 61, 1);
}

.enlace {
    color: rgb(3, 71, 3);
    font-weight: bold;
}

h2 {
    text-align: center;
    padding: 5px;
}

p {
    text-align: center;
}

#boton1 {
    background-color: green;
    border: 1px solid black;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

#boton1:hover {
    background-color: rgb(6, 71, 41) !important;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}

#boton2 {
    background-color: red;
    border: 1px solid black;
    size: 5cm;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

#boton2:hover {
    background-color: rgb(128, 21, 26) !important;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}

#boton2 a {
    text-decoration: none;
    color: white;


}

#boton3 {
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;

}

.cita {
    text-align: center;
}

#boton3:hover {
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
}


#boton1 a {
    text-decoration: none;
    color: white;

}

#boton3 a {
    text-decoration: none;
    color: black;
    width: 50px;
}

#bienvenida {
    font-size: 40px;
    color: black;
    font-weight: bolder;
    text-align: center;
}

#botones {
    text-align: center;
}

#modo {
    color: rgb(87, 87, 23);
    text-shadow: 3px solid black;
    font-weight: bold;
}

.tabla {
    width: 50%;
    margin: 0 auto;
}

table.tabla {
    border:  2px solid black;
    background-color: #EEE7DB;
    text-align: center;
    border-collapse: collapse;
}

table.tabla td,
table.tabla th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}

table.tabla tbody td {
    font-size: 13px;
}

table.tabla thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
    padding: 10px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: gray;
    color: white;
    text-decoration: none;
}

ul h1 {
    float: left;
    color: white;
    padding: 5px;
}

#centrar img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
}

.botones {
    text-align: center;
    padding: 20px;
}

.bienvenido {
    text-align: center;
}
#texto{
    padding: 20px;
}